@use '../styles/index.scss' as *;

.topContent {
  padding: 96px 240px;
  background: $landing-bg-secondary-color;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $medium-breakpoint) {
    padding: 66px 70px;
  }

  @media screen and (max-width: $small-breakpoint) {
    padding: 40px;
  }
}

.text {
  text-align: center;
  max-width: 720px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px auto;
  max-width: 720px;
  gap: 48px;

  @media screen and (max-width: $small-breakpoint) {
    max-width: 100%;
    padding: 0 16px;
  }
}

.policy {
  width: 100%;
}

.policyItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
