.solution-content {
  padding: 96px 80px;

  .content {
    display: flex;
    flex-direction: row;
    gap: 64px;

    .solutions {
      width: 280px;
      max-width: 280px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        font-family: var(--font-body);
        font-weight: 600;
        font-size: var(--text-sm);
        line-height: 20px;
        color: var(--color-primary);
      }

      .solute {
        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
          color: var(--color-text-muted);
          font-family: var(--font-heading);
          font-weight: 600;
          font-size: var(--text-md);
          line-height: 24px;
          border-radius: 8px;
          border: none;
          width: 100%;
          padding: 10px 14px;
          background-color: transparent;
          text-align: left;
          text-transform: capitalize;
          transition: 0.2s ease-in;
        }

        button:hover {
          color: var(--color-primary);
          background-color: #ebf3fc;
        }
      }
    }

    .sourcing {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .texts {
        h5 {
          font-weight: 500;
          font-size: var(--text-4xl);
          line-height: 42.26px;
          letter-spacing: -0.46px;
          color: var(--color-grey-900);
          margin-bottom: 16px;
        }

        p {
          font-weight: 500;
          font-size: var(--text-lg);
          line-height: 25.35px;
          letter-spacing: -0.19px;
          color: var(--color-text-muted);
          max-width: 765px;
        }
      }

      .resources {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;

        > div {
          flex-basis: calc(50% - 16px);
          max-width: calc(50% - 16px);
        }

        .dievs {
          display: flex;
          flex-direction: column;
          gap: 32px;

          .top {
            display: flex;
            justify-content: center;
            padding: 86px 0;
            width: 100%;
            background-color: #d7e7f9;

            img {
              margin: 0 auto;
              width: 68px;
              height: 68px;
              max-width: 68px;
              max-height: 68px;
            }
          }
        }

        .text {
          h5 {
            font-family: var(--font-body);
            font-weight: 600;
            font-size: var(--text-2xl);
            line-height: 32px;
            color: var(--color-bg-dark);
            margin-bottom: 12px;
          }

          p {
            font-family: var(--font-body);
            font-weight: 400;
            font-size: var(--text-md);
            line-height: 24px;
            color: var(--color-text-muted);
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 980px) {
  .solution-content {
    padding: 64px 20px;

    .content {
      flex-direction: column;

      .solutions {
        width: 100%;
        max-width: 100%;

        .solute {
          button {
            display: none;
          }

          .custom-select-container {
            position: relative;
            padding: 12px 16px;
            background-color: var(--color-white);
            gap: 8px;
            border-radius: 8px;
            border: 1px solid var(--color-grey-300);
            display: flex;

            img {
              right: 0;
            }

            select {
              flex-grow: 1;
              border: none;
              outline: none;
              font-family: var(--font-body);
              font-weight: 400;
              font-size: var(--text-sm);
              line-height: 20px;
              color: var(--color-text-muted);
            }
          }
        }
      }

      .sourcing {
        .texts {
          h5 {
            font-size: var(--text-2xl);
            line-height: 28.18px;
          }

          p {
            font-size: var(--text-md);
            line-height: 24px;
          }
        }

        .resources {
          > div {
            width: inherit;
            flex-basis: 100%;
            max-width: 100%;
          }

          .dievs {
            .top {
              padding: 72px 0;

              img {
                width: 56px;
                max-width: 56px;
                height: 56px;
                max-height: 56px;
              }
            }
          }

          .text {
            h5 {
              font-size: var(--text-xl);
              line-height: 24.2px;
            }
          }
        }
      }
    }
  }
}
