.button-base {
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
  }
}

.primary {
  @extend .button-base;
  background-color: #3c6fd4;
  color: white;
}

.secondary {
  @extend .button-base;
  background-color: white;
  color: #344054;
  border: 1px solid #d0d5dd;
}


.element {
  width: 24px;
  height: 24px;
}

.normal {
  font-size: 14px;

}

.big {
  font-size: 16px;
}

.small {
  font-size: 12px;
}
