.shared {
  display: flex;
  flex-direction: column;
}

.filter {
  max-height: 85vh;
  overflow-y: auto;
  width: 30%;
  background-color: #f8f8f8;
  padding: 24px 18px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;

  @media (max-width: 768px) {
    position: absolute;
    width: 90%;
    max-height: 120%;
    margin-bottom: 20rem;
    overflow-y: unset;
  }
}

.filter-top {
  @extend .shared;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .title {
    color: #0d0c22;
    font-size: 24px;
    font-weight: 700;
  }

  .clear {
    font-size: 16px;
    color: #4884df;

    &:hover {
      cursor: pointer;
    }
  }
}

.salary-range-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.each-list-gap {
  @extend .shared;
  gap: 16px;
}

.btn {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  gap: 16px;
}

.line {
  width: 100%;
  border: 1px solid #e7e7e9;
  margin: 28px auto;
}
