%shared {
  display: flex;
  align-items: center;
}

%shared2 {
  display: flex;
  flex-direction: column;
}

.singlejob-container {
  background: var(--color-grey-50);
  padding: 24px 16px;
  border-radius: 10px;
  align-items: flex-start;
  @extend %shared;
  gap: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.title-container {
  @extend %shared2;
  width: 100%;
  gap: 8px;
}

.jobTitle {
  @extend %shared;
  justify-content: space-between;
  font-weight: normal;
  gap: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.title {
  font-size: var(--text-lg);
  font-weight: 600;
}

.jobTitle {
  text-decoration: none !important;
  color: inherit !important;
}

.category {
  @extend %shared;
  width: max-content;
  gap: 6px;
  font-size: var(--text-sm);
  font-weight: 600;
  border-radius: 20px;
  padding: 2px 6px;
  color: #175cd3;
  background-color: #f4fdfb;
}

.description {
  color: var(--color-grey-500);
}

.details-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 8px;
  }
}

.jobdetails {
  @extend %shared;
}
