@use './index' as *;
@use './mixins' as *;

.fs-xs {
  font-size: 12px;
}

.fs-sm {
  @include responsive-font(14px, 12px, 10px);
}

.fs-md {
  @include responsive-font(16px, 14px, 12px);
}

.fs-lg {
  @include responsive-font(18px, 16px, 14px);
}

.fs-xl {
  @include responsive-font(20px, 18px, 16px);
}

.fs-2xl {
  @include responsive-font(24px, 20px, 18px);
}

.fs-3xl {
  @include responsive-font(32px, 24px, 20px);
}

.fs-4xl {
  @include responsive-font(48px, 32px, 20px);
}

.fs-5xl {
  @include responsive-font(60px, 32px, 24px);
}

.default {
  color: $landing-text-default;
}

.primary {
  color: $landing-text-primary;
}

.hero {
  color: $hero-text;
}

.tag {
  color: $landing-text-tag;
}

.white {
  color: $landing-text-white;
}

.secondary {
  color: $landing-text-secondary;
}

.normal {
  font-weight: $landing-normal-font-weight;
}

.bold {
  font-weight: $landing-bold-font-weight;
}

.bolder {
  font-weight: $landing-bolder-font-weight;
}
