@use './index' as *;

.container {
  background-color: $landing-bg-how-it-works;
}

.flowTitle {
  padding: 8px 24px;
  color: $landing-btn-primary-bg;
}

.active {
  color: $landing-text-tag;
  border-left: 4px solid $landing-text-tag;
}
