$landing-btn-primary-text: #ffffff;
$landing-btn-secondary-text: #101828;
$landing-btn-primary-bg: #101828;
$landing-btn-secondary-bg: #ffffff;

$landing-bg-primary-color: #efefef;
$landing-bg-secondary-color: #001366;
$landing-bg-card-color: #3700b0;
$landing-bg-how-it-works: #e4e5ff;

$landing-text-secondary: #101828;
$landing-text-default: #000000;
$landing-text-primary: #525252;
$landing-text-white: #ffffff;
$landing-text-tag: #4000e4;
$landing-text-getStarted: #003be3;

$landing-star-rating-color: #fec84b;

$landing-base-font-size: 16px;
$landing-normal-font-weight: 400;
$landing-bold-font-weight: 500;
$landing-bolder-font-weight: 600;

$medium-breakpoint: 1024px;
$small-breakpoint: 768px;
$mobile-breakpoint: 480px;
