$landing-btn-primary-text: #ffffff;
$landing-btn-secondary-text: #101828;
$landing-btn-primary-bg: #101828;
$landing-btn-secondary-bg: #ffffff;

$landing-bg-primary-color: #efefef;

$landing-text-secondary: #101828;
$landing-text-primary: #525252;
$landing-text-white: #ffffff;
$landing-text-tag: #4000e4;
$landing-text-getStarted: #003be3;

$landing-base-font-size: 16px;
$landing-normal-font-weight: 400;
$landing-bold-font-weight: 500;
$landing-bolder-font-weight: 600;
