@use './index' as *;

.flexDirectionColumn {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

.heroLeft {
  @extend .flexDirectionColumn;
  width: 65%;
  background-image: url('../../../assets/landing_bg.png');
}

.btns {
  display: flex;
  gap: 16px;
}

.heroContainer {
  @extend .flexDirectionColumn;
  justify-content: center;
  gap: 48px;
}

.heroContent {
  @extend .flexDirectionColumn;
  max-width: 600px;
  gap: 16px;
}

.heroFooter {
  margin: auto 0 20px 0;
}

.heroFooter img {
  margin-top: 8px;
}

.heroRight {
  width: 35%;
  height: initial;
  background: $landing-bg-primary-color;
  padding-right: 80px;
}

.applicationImage {
  position: absolute;
  right: -300px;
  height: 600px;
  top: 102px;
  scale: unset;
}
