.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: min(550px, calc(100vw - 32px));
  min-width: 0;
  border-radius: var(--radius-lg);
  padding: var(--space-4);
  gap: var(--space-2);
}

.emoji {
  font-size: 64px;
  line-height: 1;

  @media (min-width: 1024px) {
    font-size: 88px;
  }
}

.description {
  padding: var(--space-2) var(--space-6);
}
