.sharedStyles {
  display: flex;
  justify-content: space-between;
}

.listContainer {
  text-decoration: none; // remove underline
  border: none;
  outline: none;
  color: inherit; // keeps sidebar white text
  @extend .sharedStyles;
  padding: 16px 20px;

  &:active {
    text-decoration: none;
    border: none;
    outline: none;
    color: inherit;
  }
}

.listContainer:hover {
  cursor: pointer;
}

.listItem {
  @extend .sharedStyles;
  gap: 16px;
}

.active {
  background: #374672;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.sidebarList a {
  text-decoration: none;
  border: none;
  outline: none;
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    border: none;
    outline: none;
  }
}
