.container {
  position: relative;

  input {
    padding-right: var(--space-10);
  }
}

.toggle {
  position: absolute;
  bottom: 6px;
  right: 12px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-grey-500);
}
