$landing-btn-primary-text-color: #ffffff;
$landing-btn-secondary-text-color: #101828;
$landing-btn-primary-bg-color: #101828;
$landing-btn-secondary-bg-color: #ffffff;

$landing-bg-primary-color: #efefef;

$landing-text-color: #101828;
$landing-white-color: #ffffff;
$landing-link-color: #4000e4;
$landing-getStarted-text-color: #003be3;

$landing-base-font-size: 16px;
$landing-base-font-weight: 500;
