@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.talentReg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel {
  width: 100%;
  height: 70%;
}

.remember-me {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 24px;
  &:hover {
    cursor: pointer;
  }
  font-family: 'Raleway', sans-serif;
}

.logo {
  height: 32px;
  align-self: center;
}

.create-account {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 32px;
}

.forgot-password {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #335bc2;
  font-family: 'Raleway', sans-serif;
}

.already {
  margin-top: 8px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;

  a {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #335bc2;
    line-height: 20px;
    font-size: 14px;
  }
}

.details {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-grey-500);
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
}

.apply-job {
  width: 90%;
  height: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  .job-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    // background-color: var(--color-primary);
    // border-bottom-left-radius: 30px;
    // border-bottom-right-radius: 30px;
    // width: 100%;
    // height: 20vh;
  }
  .job-form {
    width: 60%;
    //align-self: center;
    //margin: 2rem auto 0;
    //box-shadow: 2px 2px 20px #ccc;
    //padding: 2rem;
  }
  // .input {
  //   //margin-bottom: 20px;
  // }
  label {
    font-weight: 500;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 500;
    color: var(--color-grey-500);
    font-family: 'Raleway', sans-serif;
    line-height: 25.65px;
    font-size: 14px;
    &:focus {
      border: 1px solid var(--color-grey-300);
      outline: none;
    }
    .btns {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      gap: 16px;
    }
  }
  .error {
    color: red;
    font-size: 12px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .carousel {
    display: none;
  }

  .apply-job {
    width: 100%;
    padding: 20px;
    .job-form {
      width: 100%;
    }
  }
}
