.hire-talents {
  width: 100%;
  height: 100%;

  .talents-hero {
    // background-color: #4985df;
    // border-bottom-left-radius: 30px;
    // border-bottom-right-radius: 30px;
    // width: 100%;
    // height: 20vh;
    h2 {
      padding-top: 2rem;
      color: #4985df;
      text-align: center;
    }
  }
  .talent-form {
    width: 60%;
    margin: 2rem auto 0;
    box-shadow: 2px 2px 20px #ccc;
    padding: 2rem;
  }
  .input{
    margin-bottom: 20px;
  }
  label {
    font-weight: medium;
  }

  input[type='text'],
  textarea {
    width: 100%;
    padding: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .error {
    color: red;
    font-size: 12px;
  }

  button[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  
    &:hover {
      background-color: #0056b3;
    }
  }
}
