.topContainer {
  margin-top: 16px;
}

.parent {
  margin-top: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 536px;
  margin: 30px auto;
  cursor: pointer;
}

.innerContainer {
  padding: 20px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #e4e7eC;
  border-radius: 8px;
}

.description {
  max-width: 300px;
  color: #667085;
  font-size: 14px;
  margin-top: 12px;
}

span {
  font-size: 14px;
  font-weight: bold;
  color: #001127;
}
