@use 'index' as *;
@use 'sass:color';

%shareFlexAlignItems {
  display: flex;
  align-items: center;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  z-index: 1000;
}

.leftNav {
  @extend %shareFlexAlignItems;
  background-image: url('../../../../../assets/landing_bg.png');
  justify-content: flex-start;
  width: 65%;
  gap: 48px;
}

.navItem {
  font-size: $landing-base-font-size;
  font-weight: $landing-bold-font-weight;
  color: $landing-text-white;
  text-decoration: none;
}

.leftNavItems {
  @extend %shareFlexAlignItems;
  gap: 24px;

  @media screen and (max-width: $small-breakpoint) {
    display: none;
  }
}

.rightNav {
  background-color: $landing-bg-primary-color;
  @extend %shareFlexAlignItems;
  justify-content: flex-end;
  gap: 12px;
  width: 35%;

  @media screen and (max-width: $large-breakpoint) {
    > :nth-child(2) {
      background-color: $landing-bg-card-color;
      color: $landing-text-white;
    }

    > :nth-child(3) {
      display: none;
    }

    @media screen and (max-width: 768px) {
      background-image: url('../../../../../assets/landing_bg.png');
      color: $landing-text-white;
    }
  }

  @media screen and (max-width: $small-breakpoint) {
    > * {
      display: none;
    }
  }
}

.menu {
  display: none;

  @media screen and (max-width: $small-breakpoint) {
    display: block;
  }
}

.mobileNav {
  position: fixed;
  top: 64px; // sits below navbar
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  background: #4000e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  z-index: 999;
}

.mobileNavContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 400px;
}

.mobileNavItem {
  font-size: $landing-base-font-size;
  font-weight: $landing-bold-font-weight;
  color: $landing-text-white;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: color.adjust($landing-text-white, $lightness: 10%);
  }
}

.mobileNavButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;

  button {
    width: 60%;
    margin: auto;
  }
}
