.container {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--color-grey-200);
}

.innerContainer {
  display: flex;
  align-items: flex-start;
  flex: 1;
  justify-content: space-between;
}

.fileContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.file {
  display: flex;
  align-items: center;
  gap: 16px;
}

.text {
  display: flex;
  flex-direction: column;
  padding-left: 3px;
}

.icon {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 3px;
  margin-top: 10px;
  gap: 27px;
}

.fileIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background-color: #dbdbde;
}

.fileIconOuter {
  @extend .fileIcon;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #eeeeee;
}

.textColor {
  color: var(--color-primary-strong);
}
