.view-container {
    // max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  //   padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow-x: hidden;
  }
  
  h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
  }
  
  .search-role {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
  .view-role {
    margin-bottom: 2rem;
    p {
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
      color: #555;
    }
  }
  
  .loading,
  .error,
  .no-talent {
    font-size: 1.25rem;
    color: #666;
    text-align: center;
    margin-top: 2rem;
  }
  
  .view-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1rem;
  }
  
  .view-talent {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      color: #333;
    }
  
    p {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: #666;
    }
  
    hr {
      margin-top: 1rem;
      border: none;
      border-top: 1px solid #eee;
    }
  }
  