.titleDesc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  color: #101828;
  font-weight: 700;
  font-size: 32px;

  @media (max-width: 980px) {
    font-size: 28px;
  }
}

.desc {
  font-size: 20px;
  color: #101828;

  @media (max-width: 980px) {
    font-size: 16px;
  }
}

.container {
  margin: 46px 39px;
}

.info {
  background-color: #fff8ef;
  color: #ff9500;
  width: 100%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 20px 28px;
}

.info-text {
  font-size: 20px;
}

.button {
  margin: 91px 0 0 65px;
  background-color: #3c6fd4;
  border-radius: 8px;
  padding: 12px 20px;
  color: #fff;
  max-width: 185px;
  cursor: pointer;
}

.progressContainer {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  max-width: 694px;
  padding: 22px 19px;
  margin-top: 34px;
  margin-bottom: 34px;
  margin-left: 150px;
  gap: 34px;

  @media (max-width: 1335px) {
    margin: 34px auto;
  }
}

.icon {
  height: 56px;
  width: 56px;
  background-color: #e7edf7;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.title {
  font-size: 20px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.score {
  background-color: #e7edf7;
  border-radius: 8px;
  padding: 8px 10px;
}

.scoreItem {
  font-size: 18px;
  font-weight: 600;
  margin-left: 8px;
}

.noMatch {
  font-size: 18px;
  font-weight: 600;
  padding: 0 32px;
}

