$font-color: #4B4B4B;
$nav-f-size: 1rem;
$nav-f-weight: 600;
$nav-line-height: 18.78px;
$primary-blue: #4985DF;
$primary-f-white: #F1F6FD;
$primary-f-blue: #C6DDF7; 
$primary-f-offblue: #CAD8ED;
$primary-font-family: "Raleway", sans-serif;
$poppins: "Poppins", sans-serif;
$secondary-lm-blue: #DFEBFA;
$primary-dark-bg: #101828;
$gray-light: #E4E7EC;
$inter-f: "Inter", sans-serif;
$gray-dark: #667085;
$gray-f-light: #98A2B3;
$new-dark: #0D0C22;

.navi {
  background-color: $primary-dark-bg;
  padding: 16px;
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    height: auto;
    li {
      font-size: 1rem;
      line-height: 18.78px;
      font-weight: 600;
      height: fit-content;
      a {
        color: $primary-f-white;
        width: auto;
        padding: 10px;
        text-transform: capitalize;
        text-decoration: none;
      }
    }
      a.logo-li {
        padding: 0;
        margin-right: 40px;
      }

      img {
        width: 171px;
        max-height: 49px;
      }
  }
}


.nav-font {
  font-size: $nav-f-size;
  font-weight: $nav-f-weight;
}

.action-btn {
  display: flex;
  gap: 1rem;
  .login {
    background: transparent;
    color: $primary-blue;
    border: none;
  }
  .apply {
    background: transparent;
    border:2px solid $primary-blue;
    color: $primary-blue;
  }
  .hire {
    background: $primary-blue;
    border:2px solid $primary-blue;
    color: #FFFFFF;
    ;
  }
}

.action-btn > button {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: $nav-f-size;
  font-weight: $nav-f-weight;
  border-radius: 0.5rem;
  padding: 12px 24px;
  text-transform: capitalize;
  letter-spacing: -1.9%;
  line-height: $nav-line-height;
}

.home-pg > div {
  max-width: 50%;
  width: 50%;
  max-height: 640px;
}

.main-container {
  background-color: $primary-dark-bg;
}

.home-pg {
  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
    .inner-text {
      display: flex;
      flex-direction: column;
      max-width: 552px;
      margin: auto 2rem;
      color: $primary-f-white;
      gap: 24px;
      h2 {
        font-size: 72px;
        font-weight: 600;
        line-height: 86px;
        letter-spacing: -2%;
      }
      p.inner {
        color: $primary-f-blue;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
      }

      button {
        padding: 12px 24px 12px 24px;
        background-color: #FFFFFF;
        border-radius: 8px;
        width: fit-content;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -1.9%;
        text-transform: capitalize;
        cursor: pointer;
        color: #344054;
        border: .8px solid $primary-f-offblue;
        font-family: $primary-font-family;
      }
    }
    .outer-text {
      margin-top: 42px;
      width: 100%;
      max-width: 552px;
      text-align: left;
      flex-wrap: 500;
      font-size: 20px;
      line-height: 30px;
      color: $secondary-lm-blue;
      a {
        text-decoration: none;
        color: $primary-blue;
      }
    }
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.metrics {
  .inners {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    gap: 64px;
    .texts {
      text-align: center;
      max-width: 768px;
      font-weight: 400;
      font-family: $poppins;
      font-size: 20px;
      line-height: 30px;
      color: #667085;
      h5 {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -2%;
        font-family: $primary-font-family;
        color: #101828;
      }
    }
    .infographics {
      padding: 64px;
      border-radius: 16px;
      display: flex;
      flex-direction: row;
      gap: 64px;
      justify-content: space-between;
      background-color: $primary-dark-bg;
      div {
        text-align: center;
      }
      h3 {
        font-weight: 600;
        font-family: $poppins;
        line-height: 72px;
        font-size: 60px;
        letter-spacing: -2%;
        color: #FFFFFF;
      }
      p {
        color: $gray-light;
        font-weight: 500;
        // padding: 10px;
        font-family: $inter-f;
        font-weight: 18px;
        line-height: 28px;
      }
    }
  }
}

.service-section {
  padding: 96px 0px;
  display: flex;
  flex-direction: column;
  > div {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    max-height: 640px;
    height: 640px;
    justify-content: space-between;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    padding: 96px;
    max-width: calc(50% -  192px);
    width: calc(50% -  128px);
    .inner-texts {
      max-width: 512px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      p.top {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $primary-blue;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h3 {
          font-weight: 600;
          font-size: 36px;
          line-height: 42.26px;
          color: $primary-dark-bg;
        }
        p {
          font-family: $inter-f;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: $gray-dark;
        }
      }
    }
    button {
      padding: 12px 24px;
      width: fit-content;
      border-radius: 8px;
      background-color: $primary-dark-bg;
      border: none;
      color: #FFFFFF;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -1.9%;
      font-weight: 600;
      font-family: $primary-font-family;
      cursor: pointer;
    }
  }
  .images {
    width: 50%;
    max-width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.featured-brands {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  padding-bottom: 96px;
  > div {
    padding: 0 32px;
  }
  .inner {
    max-width: 768px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .headings {
      display: flex;
      flex-direction: column;
      gap: 12px;
      p {
        font-family: $poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $primary-blue;
      }
      h4 {
        font-family: $primary-font-family;
        font-weight: 600;
        font-size: 36px;
        letter-spacing: -2%;
        color: $primary-dark-bg;
      }
    }
    p {
      font-family: $poppins;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: $gray-dark;
    }
  }
  .images {
    .overall {
      max-width: 1230px;
      display: flex;
      gap: 25px;
      justify-content: center;
      flex-wrap: wrap;
      img {
        max-height: 100px;
        max-width: 167px;
        height: 100px;
        object-fit: scale-down;
      }
    }
  }
}

.quote-section {
  display: flex;
  flex-direction: row;
  height: 560px;
  max-height: 560px;
  > div {
    width: 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
  }
  .cover {
    display: flex;
    flex-direction: column;
    // align-items: center;
  }
  .text {
    background-color: $primary-dark-bg;
    .cover {
      padding: 64px 112px;
      gap: 40px;
      button {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        width: fit-content;
        padding: 12px 24px;
        border-radius: 8px;
        font-family: $primary-font-family;
        background-color: $primary-blue;
        cursor: pointer;
        border: none;
      }
      .inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 496px;
        
      }
      h5 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -2%;
        color: #FFFFFF;
      }
      p {
        font-family: $poppins;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color:  #E7EDF7;
      }
    }
  }
  .testimonial {
    background-color: $primary-blue;
    .cover {
      padding: 0 64px;
      gap: 36px;
      img {
        width: 160px;
        max-width: 160px;
        object-fit: cover;
        border-radius: 16px;
      }
      .text {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 592px;
        h5 {
          font-weight: 600;
          font-size: 30px;
          line-height: 40.5px;
          letter-spacing: -2%;
          color: #FFFFFF;
        }
        .inner {
          .tip {
            color: #FFFFFF;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
          }
          p {
            font-family: $inter-f;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $gray-light;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #233657;
  max-height: 473px;
  height: 473px;
  overflow: hidden;
  .main-contain {
    padding: 64px 0px 48px 0px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: fit-content;
    margin: 0 auto;
    .quick-link {
      display: flex;
      flex-direction: row;
      gap: 64px;
    }
    .logo {
      display: flex;
      flex-direction: column;
      gap: 32px;
      max-width: 320px;
      img {
        max-height: 32px;
        height: 32px;
        max-width: 194px;
      }
      p {
        font-family: $inter-f;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray-light;
      }
    }
    .links {
      display: flex;
      flex-direction: row;
      gap: 32px;
      > div {
        max-width: 153px;
        width: 153px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        div {
          display: flex;
          flex-direction: column;
          gap: 12px;
          a {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            font-family: $primary-font-family;
            color: $gray-light;
            text-decoration: none;
            list-style: none;
            cursor: pointer;
          }
        }
      }
      h6 {
        font-family: $inter-f;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: $gray-f-light;
      }
    }
    .cob {
      padding: 0 32px;
      padding-top: 32px;
      border-top: 1px solid #475467;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        font-family: $inter-f;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray-f-light;
      }
      .socials {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
        align-items: center;
        a {
          img {
            width: 24px;
            max-width: 24px;
          }
        }
      }
    }
  }
}

.explore-head {
  padding-top: 96px;
  .content {
    margin: 0 auto;
    text-align: center;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: $inter-f;
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: $gray-dark;
    }
    .top {
      display: flex;
      flex-direction: column;
      gap: 12px;
      h6 {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $primary-blue;
      }
      h4 {
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        color: $primary-dark-bg;
      }
    }
  }
}

.career-section {
  padding: 96px 80px;
  .content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 64px;
    .jobs {
      max-width: 932px;
      width: 932px;
      .content {
        display: flex;
        flex-direction: column;
        gap: 0px;
        > div {
          
          display: flex;
          flex-direction: row;
          gap: 24px;
        }
        .job-post {
          padding: 24px 32px;
          border-top: 1px solid $gray-light;
          .images {
            width: 56px;
            height: 56px;
            max-width: 56px;
            max-height: 56px;
            background-color: $primary-dark-bg;
            border-radius: 50%;
            img {
              height: 100%;
              width: 100%;
              border-radius: 50%;
              object-fit: contain;
            }
          }
          .description {
            display: flex;
            flex-direction: column;
            gap: 24px;
            .top {
              display: flex;
              flex-direction: column;
              gap: 8px;
              .badge {
                display: flex;
                flex-direction: row;
                gap: 8px;
                h6 {
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 28px;
                }
                .color-bdg {
                  display: flex;
                  padding: 2px 10px 2px 8px;
                  background-color: #EFF8FF;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                  border-radius: 16px;
                  .dot {
                    width: 6px;
                    height: 6px;
                    max-width: 6px;
                    max-height: 6px;
                    border-radius: 50%;
                    background-color: #175CD3;
                  }
                  p {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    color: #175CD3;
                  }
                }
              }
              p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
              }
            }
            .bottom {
              display: flex;
              flex-direction: row;
              gap: 24px;
              > div {
                display: flex;
                gap: 8px;
                align-items: center;
                img {
                  height: 20px;
                  max-height: 20px;
                  width: 20px;
                  max-width: 20px;
                }
                p {
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
    }
    .job-search {
      background-color: #F3F6FC;
      padding: 24px;
      flex-grow: 1;
      border-radius: 12px;
      border: 1px solid $gray-light;
      height: fit-content;
      .search-tool {
        display: flex;
        flex-direction: column;
        gap: 20px;
        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: $new-dark;
          font-family: $inter-f;
        }
        .search-box {
          padding: 12px 16px;
          display: flex;
          align-items: center;
          background-color: #FFFFFF;
          gap: 8px;
          border-radius: 8px;
          border: 1px solid #D0D5DD;
          img {
            max-width: 20px;
            width: 20px;
            max-height: 20px;
            height: 20px;
          }
          input[type="text"], input[type="text"]:focus {
            border: none;
            outline: none;
            font-family: $inter-f;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $gray-dark;
          }
        }
        .radio-group {
          display: flex;
          flex-direction: column;
          gap: 16px;
          > div {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;
            p {
              font-weight: 500;
              font-size: 14px;
              line-height: 16.44px;
              color: #3D3D4E;
            }
            input {
              max-width: 20px;
              width: 20px;
              height: 20px;
              max-height: 20px;
              border-radius: 4px;
              border: 1px solid #DBDBDE;
            }
          }
        }
        button {
          font-weight: 600;
          font-size: 16px;
          line-height: 18.78px;
          letter-spacing: -1.9%;
          color: #FFFFFF;
          border-radius: 8px;
          padding: 12px 24px;
          border: none;
          background-color: #A7B1B9;
          font-family: $primary-font-family;
        }
      }
    }
  }
  .closeing {
    padding: 16px 28px;
    margin: 0 auto;
    background-color: $primary-blue;
    border-radius: 8px;
    font-family: $primary-font-family;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 18.78px;
    border: none;
  }
}

.solution-header {
  padding: 96px 32px;
  background-color: $primary-dark-bg;
  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    .main-texts {
      p {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: $primary-blue;
        margin-bottom: 12px;
      }
      h3 {
        color: #FFFFFF;
        font-family: $inter-f;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        // letter-spacing: -2px;
      }
    }
    p {
      font-family: $inter-f;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: $primary-f-blue;
    }
    button {
      font-size: 16px;
      line-height: 28px;
      font-weight: 600;
      color: #FFFFFF;
      background-color: $primary-blue;
      border-radius: 8px;
      padding: 12px 24px;
      border: none;
      font-family: $primary-font-family;
    }
  }
}

.solution-content {
  padding: 96px 80px;
  .content {
    display: flex;
    flex-direction: row;
    gap: 64px;
    .solutions {
      width: 280px;
      max-width: 280px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        font-family: $inter-f;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: $primary-blue;
      }
      .solute {
        display: flex;
        flex-direction: column;
        gap: 8px;
        button {
          color: $gray-dark;
          font-family: $primary-font-family;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          border-radius: 8px;
          border: none;
          width: 100%;
          padding: 10px 14px;
          background-color: transparent;
          text-align: left;
          text-transform: capitalize;
          transition: 0.2 ease-in;
        }
        button:hover {
          color: $primary-blue;
          background-color: #ebf3fc;
        }
      }
    }
    .sourcing {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 32px;
      .texts {
        h5 {
          font-weight: 500;
          font-size: 36px;
          line-height: 42.26px;
          letter-spacing: -0.46px;
          color: #101828;
          margin-bottom: 16px;
        }
        p {
          font-weight: 500;
          font-size: 19px;
          line-height: 25.35px;
          letter-spacing: -0.19px;
          color: $gray-dark;
          max-width: 765px;
        }
      }
      .resources {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        > div {
          flex-basis: calc(50% - 16px);
          max-width: calc(50% - 16px);
        }
        .dievs {
          display: flex;
          flex-direction: column;
          gap: 32px;
          .top {
            display: flex;
            justify-content: center;
            padding: 86px 0;
            width: 100%;
            background-color: #d7e7f9;
            img {
              margin: 0 auto;
              width: 68px;
              height: 68px;
              max-width: 68px;
              max-height: 68px;
            }
          }
        }
        .text {
          h5 {
            font-family: $inter-f;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: $primary-dark-bg;
            margin-bottom: 12px;
          }
          p {
            font-family: $inter-f;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $gray-dark;
          }
        }
      }
    }
  }
}



































@media  (min-width: 320px) and (max-width: 980px) {
  .navi {
    justify-content: space-between;
  }
  .nav-navigate {
    margin: 0;
  }
  .navbar {
    ul {
      li {
        display: none;
      }
    }
    img {
      max-height: 40px;
    }
  }
  .action-btn {
    display: none;
  }
  .main-container {
    padding: 38px 0px  0px 0px;
    height: fit-content;
    .home-pg {
      flex-direction: column;
      > div {
        width: 100%;
        max-width: 100%;
      }
      .text {
        .inner-text {
          padding: 0 16px 64px 16px;
          margin: 0;
          h2 {
            font-size: 36px;
            line-height: 43.34px;
          }
          p.inner {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            font-family: $poppins;
          }
          button {
            width: 100%;
          }
        }

        .outer-text {
          margin: 0;
          font-size: 16px;
          line-height: 18.78px;
        }
      }
      .image {
        height: 308px;
        max-height: 308px;
      }
    }
  }
  .metrics {
    max-height: fit-content;
    height: fit-content;
    .inners {
      gap: 48px;
      padding: 64px 32px 0px 32px;
      .texts {
        max-width: 350px;
        font-size: 18px;
        h5 {
          font-size: 30px;
          line-height: 35.22px;
        }
      }
      .infographics {
        flex-direction: column;
        h3 {
          font-size: 48px;
        }
      }
    }
    
  }
  .service-section {
    padding: 72px 32px;
    gap: 64px;
    > div {
      flex-direction: column;
      gap: 40px;
      max-width: fit-content;
      width: fit-content;
      height: fit-content;
      max-height: fit-content;
    }
    .text {
      padding: 0;
      width: 100%;
      max-width: 100%;
      .inner-texts {
        gap: 20px;
        div {
          h3 {
            font-size: 24px;
            line-height: 30.72px;
          }
          p {
            font-size: 16px;
            line-height: 28px;
          }
        }
      }
      button {
        width: 100%;
      }
    }
    .images {
      width: 100%;
      max-width: 100%;
    }
    .lefty {
      flex-direction: column-reverse;
    }
  }
  .featured-brands {
    gap: 48px;
    .inner {
      gap: 16px;
      .headings {
        p {
          font-size: 14px;
        }
        h4 {
          font-size: 30px;
          line-height: 38px;
        }
      }
    }
    p {
      font-size: 18px;
      line-height: 28px;
      font-family: $inter-f;
    }
    .images {
      .overall {
        img {
          max-height: 51.02px;
          max-width: 85.21px;
        }
      }
    }
  }

  .quote-section {
    flex-direction: column-reverse;
    height: fit-content;
    max-height: fit-content;
    > div {
      width: 100%;
      max-width: 100%;
    }
    .testimonial {
      .cover {
        padding: 48px 32px;
        img {
          width: 100px;
          max-width: 100px;
        }
        .text {
          h5 {
            font-size: 24px;
            line-height: 32.4px;
          }
        }
      }
    }
    .text {
      .cover {
        padding: 64px 32px;
        button {
          width: 100%;
        }
      }
    }
  }
  .footer {
    max-height: fit-content;
    height: fit-content;
    .main-contain {
      padding: 48px 32px;
      .quick-link {
        flex-direction: column;
        .links {
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }
    .main-contain {
      .cob {
        flex-direction: column-reverse;
        padding: 0px;
        gap: 15px;
        .socials {
          padding-top: 10px;
          justify-content: flex-start;
        }
      }
    }
  }

  .explore-head {
    padding-top: 64px;
    .content {
      padding: 0px 20px;
      gap: 16px;
      p {
        font-size: 20px;
        line-height: 30px;
        text-align: left;
      }
      .top {
        gap: 6px;
        h6 {
          font-size: 14px;
        }
        h4 {
          font-size: 36px;
          line-height: 43.57px;
        }
      }
    }
  }

  .career-section {
    padding: 64px 20px;
    .content {
      flex-direction: column-reverse;
      gap: 48px;
      .jobs {
        width: inherit;
        .content {
          gap: 64px;
          > div {
            flex-direction: column;
          }
          .job-post {
            padding: 0;
            padding-top: 24px;
            .description {
              .top {
                .badge {
                  flex-direction: column;
                  .color-bdg {
                    width: fit-content;
                  }
                }
              }
            }
          }
        }
      }

      .job-search {
        padding: 24px 20px;
        .search-tool {
          label {
            line-height: 24px;
          }
          .radio-group {
            display: none;
          }
        }
      }
    }
    .closeing {
      margin-top: 48px;
      width: 100%;
    }

    .custom-select-container {
      position: relative;
      padding: 12px 16px;
      background-color: #FFFFFF;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid #D0D5DD;
      display: flex;
      img {
        right: 0;
      }
      select {
        flex-grow: 1;
        border: none;
        outline: none;
        font-family: $inter-f;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray-dark;
      }
    }
  }
}





// General Util
.divider {
  height: 1px;
  border-top: 1px solid #E7E7E9;
}


.custom-select-container {
  display: none;
}

select.custom-select {
  appearance: none;
  -webkit-appearance: none;
}


