.container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--color-grey-300);
  background-color: #fff;
  margin: 40px 0;
  padding: 10px;
  gap: 8px;
}

.input {
  outline: none;
}
